/* Navbar */
#home_navbar{
    border-top: 4px solid #9d0646;
    color: #9d0646;
}
#menuSpeciali_navbar, #informazioni_navbar{
    color: #f9e5d5;
    border-top: 4px solid transparent;
}

/* Carosello */
#logoCarosello{
    width: 300px;
    border: 3px #9d0646 solid;
    left: 50%;
    top:10%;
    transform: translate(-50%);
    border-radius: 50%;
    /* width: 200px; */
    /* height: 200px; */
    position: absolute;
    z-index: 3;
}
#logoSottoCarosello{
    margin: auto;
    width: 60%;
    border: 3px #9d0646 solid;
    border-radius: 50%;
    display: none;
}
#contenitoreCarosello
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top:0px;
    height:calc(100vh - 60px);
    width: 100%;
    /* height: 500px; */
    background-color: black;
}
.slide
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    z-index: 1;
    width: 100%;
    position: absolute;
    overflow: hidden;
    clip-path: circle(0.4% at 0 0);
}
.navigation
{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
}
.btn
{
    background-color:#f9e5d5;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;
}
.slide.active
{
    clip-path: circle(141.7% at 0 0);
    transition: 2s;
    transition-property: clip-path;
}
.btn.active
{
    background-color: #d77e3c;
}

/* Menù del giorno */
#menu_giorno img{
    width: 60%;
    margin: 30px;
}

/* Recensioni */
.recensioni{
    font-family: Alkatra, Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    margin: 15px;
    align-items: center;
    justify-content: center;
}
.recensioni div{
    margin: 10px;
}
.recensioni div span{
    color: #9d0646;
}
.recensioni h2, .recensioni p{
    padding: 10px;
}

#map{
    margin: auto;
    height: 350px;
    width: 80%;
    border: 2px solid #9d0646;
    border-radius: 10px;
}

@media(max-width: 800px){
    #contenitoreCarosello{
        display: none;
    }
    #logoSottoCarosello{
        display: block;
    }
    #menu_giorno img{
        margin: 0;
        width: 100%;
    }
}
